*.o
*.so
*.so.*
*.po
*.core
*.a
*.tmp
.depend
libplot/bindings/py27plot/bitgraph
libplot/bindings/py27plot/crt
libplot/bindings/py27plot/dumb
libplot/bindings/py27plot/gigi
libplot/bindings/py27plot/hp7221
libplot/bindings/py27plot/imagen
libplot/bindings/py27plot/t4013
libplot/bindings/py27plot/t4014
libplot/bindings/py27plot/ps
plot/*plot
plot/plottoa
plot/atoplot
graph/graph
spline/spline
